---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=75201&term=thai&ywsid=your+yelp+key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - wsgi, web37, api_com
      X-Mode:
      - rw
      X-Proxied:
      - lb2
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"message": {"text": "OK", "code": 0, "version": "1.1.1"}, "businesses":
        [{"rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/stars_4.png",
        "country_code": "US", "id": "uYtXdU55qAHo3nyy3nOdtA", "is_closed": false,
        "city": "Dallas", "mobile_url": "http://m.yelp.com/biz/bangkok-city-dallas",
        "review_count": 125, "zip": "75204", "state": "TX", "latitude": 32.799272000000002,
        "rating_img_url_small": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/stars_small_4.png",
        "address1": "4301 Bryan St", "address2": "", "address3": "", "phone": "2148246200",
        "state_code": "TX", "categories": [{"category_filter": "thai", "search_url":
        "http://www.yelp.com/search?cflt=thai\u0026find_desc=\u0026find_loc=4301+Bryan+St%2C+Dallas+75204",
        "name": "Thai"}], "photo_url": "http://media2.ak.yelpcdn.com/bpthumb/a8gSxp2iOd2-qt8aGnB6dw/ms",
        "distance": 1.320646, "name": "Bangkok City", "neighborhoods": [{"url": "http://www.yelp.com/search?exclude_start=True\u0026find_desc=\u0026find_loc=East+Dallas%2C+Dallas%2C+TX",
        "name": "East Dallas"}], "url": "http://www.yelp.com/biz/bangkok-city-dallas",
        "country": "USA", "avg_rating": 4.0, "longitude": -96.779518899999999, "nearby_url":
        "http://www.yelp.com/search?find_desc=\u0026find_loc=4301+Bryan+St%2C+Dallas+75204",
        "reviews": [{"rating_img_url_small": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/stars_small_4.png",
        "user_photo_url_small": "http://media1.ak.yelpcdn.com/upthumb/tBnxksoeypnc_DOrUZCCbw/ss",
        "rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/stars_4.png",
        "rating": 4, "user_url": "http://www.yelp.com/user_details?userid=cMEtAiW60I5wE_vLfTxoJQ",
        "url": "http://www.yelp.com/biz/bangkok-city-dallas#hrid:8ntG7GkodktS9vEYbN6AuA",
        "mobile_uri": "/biz/bangkok-city-dallas?full=True#hrid:8ntG7GkodktS9vEYbN6AuA",
        "text_excerpt": "So glad we found this place today!  My team treated me to
        a Boss''s Day lunch and we were all pleased with our choices.  The staff was
        very friendly and...", "user_photo_url": "http://media1.ak.yelpcdn.com/upthumb/tBnxksoeypnc_DOrUZCCbw/ms",
        "date": "2012-10-16", "user_name": "Jennifer S.", "id": "8ntG7GkodktS9vEYbN6AuA"},
        {"rating_img_url_small": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/stars_small_4.png",
        "user_photo_url_small": "http://media1.ak.yelpcdn.com/upthumb/ANuyJZ-kp_upa8mCr63v8Q/ss",
        "rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/stars_4.png",
        "rating": 4, "user_url": "http://www.yelp.com/user_details?userid=OV87euQ3fvk2ojC42c8hWA",
        "url": [...]
