---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?cuisine=thai&location=75201&ywsid=d_XXKKIHloR2ass48vjs6Q
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - wsgi, web28, api_com
      Content-Type:
      - text/plain; charset=utf-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: US-ASCII
      string: ! '{"message": {"text": "OK", "code": 0, "version": "1.1.1"}, "businesses":
        [{"rating_img_url": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/stars_5.png",
        "country_code": "US", "id": "2R9On2x5Mo9y8XfOWpgD8Q", "is_closed": false,
        "city": "Dallas", "mobile_url": "http://m.yelp.com/biz/artizone-dallas", "review_count":
        18, "zip": "", "state": "TX", "latitude": 32.802954999999997, "rating_img_url_small":
        "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/stars_small_5.png",
        "address1": "", "address2": "", "address3": "", "phone": "8888957562", "state_code":
        "TX", "categories": [{"category_filter": "fooddeliveryservices", "search_url":
        "http://www.yelp.com/search?cflt=fooddeliveryservices\u0026find_desc=\u0026find_loc=Dallas",
        "name": "Food Delivery Services"}, {"category_filter": "gourmet", "search_url":
        "http://www.yelp.com/search?cflt=gourmet\u0026find_desc=\u0026find_loc=Dallas",
        "name": "Specialty Food"}], "photo_url": "http://media3.ak.yelpcdn.com/bpthumb/yWfd_zFRKdkSpQS1bMXjFg/ms",
        "distance": 1.912682, "name": "Artizone", "neighborhoods": [{"url": "http://www.yelp.com/search?exclude_start=True\u0026find_desc=\u0026find_loc=East+Dallas%2C+Dallas%2C+TX",
        "name": "East Dallas"}], "url": "http://www.yelp.com/biz/artizone-dallas",
        "country": "USA", "avg_rating": 5.0, "longitude": -96.769923000000006, "nearby_url":
        "http://www.yelp.com/search?find_desc=\u0026find_loc=Dallas", "reviews": [{"rating_img_url_small":
        "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/stars_small_5.png",
        "user_photo_url_small": "http://media1.ak.yelpcdn.com/upthumb/VDfY272rpo4anRnDP-9J0w/ss",
        "rating_img_url": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/stars_5.png",
        "rating": 5, "user_url": "http://www.yelp.com/user_details?userid=cT4UEbdHc46qlyC1TNdrgA",
        "url": "http://www.yelp.com/biz/artizone-dallas#hrid:A1bhCLby4hGkTLJqTBWpmw",
        "mobile_uri": "/biz/artizone-dallas?full=True#hrid:A1bhCLby4hGkTLJqTBWpmw",
        "text_excerpt": "Raise your (virtual) hand if you love fresh food and specialty
        shops but hate having to drive all over town to get everything you want? Ohh
        Ohh ME!\n\nEnter...", "user_photo_url": "http://media1.ak.yelpcdn.com/upthumb/VDfY272rpo4anRnDP-9J0w/ms",
        "date": "2012-09-25", "user_name": "Liz S.", "id": "A1bhCLby4hGkTLJqTBWpmw"},
        {"rating_img_url_small": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/stars_small_5.png",
        "user_photo_url_small": "http://media1.ak.yelpcdn.com/upthumb/mQPRHHql4eUdOjzFDHyVFQ/ss",
        "rating_img_url": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/stars_5.png",
        "rating": 5, "user_url": "http://www.yelp.com/user_details?userid=-3eqKvmX8m8YQ7gSQZQBCQ",
        "url": "http[...]
