---
http_interactions:
- request:
    method: get
    uri: http://api.bit.ly/v3/shorten?apiKey=your%20bitly%20key&format=json&login=your%20bitly%20login&longUrl=http://someobscenelylongurlthatabsolutelyneedsshortening.com
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/someobscenelylongurlthatabsolutelyneedsshortening.com\/",
        "url": "http:\/\/bit.ly\/SmDhM5", "hash": "SmDhM5", "global_hash": "SmDhM6",
        "new_hash": 0 } }

'
  recorded_at: Mon, 29 Oct 2012 07:07:46 GMT
recorded_with: VCR 2.2.5
